
.div-Inicio{
    position: fixed;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.Imagen-Inicio{
    display: block;
    width: 100vw;
    max-height: 90vh;
    align-items: center;
    justify-content: center;
}
